<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /clotya
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /clotya/index.html [L]
</IfModule> 